*{
    margin: 0px;
	padding: 0px;
}
body{
    background-color:#cfd8dc;
}
nav{
    position: fixed;
    z-index:2;
    top:0;   
}
.nav-wrapper{ 
    background-color:#000 ;
}
li{
    background-color: #000;
}
.img1{
    max-width:55% !important;
}
#carrusel{
    margin-top: 63px;
    position: relative;
}
#car1{
    width:700px;
}
